body {
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("img/home.jpg") no-repeat center center/cover;
    width: 1920px;
    height: 1071px;
    z-index: -1;
    opacity: none;
     
}
.main{
    display: flex;
    flex-direction: column;
    border:none;
    align-items: center;
    position: absolute;
    top: 50%;
    padding: 2px;
    margin: 5px;
    
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: none;
}
.header{
    font-family: century;
    font-size: small;
    text-align: center;
    margin: none;
}
.logo{
    content: "";
    position: none;
    top: 0;
    right: 0;
    background: url("img/logo.jpg") no-repeat center center/cover;
    height: 96px;
    width: 96px;
    z-index: -1;
    opacity: none;
}
.mouse{
    content: "";
    position: none;
    top: 0;
    right: 0;
    background: url("img/mouseclick.jpg") no-repeat center center/cover;
    height: 37px;
    width: 23px;
    z-index: -1;
    opacity: none;
}
#about{
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: small;
}
#services{
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
    background-image: url("img/services.jpg");
    width: 1920px;
    height: 488px;

}

#action{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: small;
}
.hide{
    display: none;
} 
.hover{
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
}
.project-information{
    height: 420px;
    max-width: 420px;
    padding: 2px;
}
.row{
    padding: 4%;
}
.Contact-us{
    background-image: url("img/contactus.jpg");
    background-size: cover;
    width: 1920px;
    height: 683px;
    display: cover;
    padding: 10%;
    
}

form#contact{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
input[type=text]{
    background: transparent;
}
textarea[type=text]{
    background: transparent;
}
.End{
    color: black;
    justify-content: center;
    text-align: center;
    font-size: small;
}



